<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    
<header>
    <nav>
        <li><a href="/">shop</a></li>
        <li><a href="/add-product">add product</a></li>

    </nav>
</header>
<main>
    <form action="/add-product" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="price">Price</label>
        <input type="text" name="price" id="price"><br>
        <input onclick="location='index.html'" type="submit" value="Add product">
    </form>
</main>
</body>
</html>